<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho de comunicação de dados T1</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.7.1/dist/quasar.prod.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
</head>
<body>
    <div id="q-app">
        <q-container>
            <div class="row">
                <div class="col">
                    <q-input rounded outlined v-model="binarioTransmitir" label="Binário que deseja transmitir"/>
                </div>
                <div class="col-3">
                    <q-select filled v-model="transformacao" :options="options" label="Filled" />
                </div>
                <div class="col">
                    {{binarioProcessado}}
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <canvas id="myChart" width="800" height="400"></canvas>
                </div>
            </div>
        </q-container>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/quasar@2.7.1/dist/quasar.umd.prod.js"></script>
    <script>
        const app = Vue.createApp({
            data (){
                return {
                    binarioTransmitir: '',
                    chart: null,
                    transformacao: 'Método Unipolar',
                    options: [
                        'Método Unipolar',
                        'Método Polares - NRZ-L',
                        'Método Polares - NRZ-I',
                        'Método Bipolar - AMI',
                        'Método Bipolar - Pseudoternário',
                        'Bifásico - Manchester',
                        'Bifásico - Diferenciarl Manchester',
                    ]
                }
            },
            watch:{
                binarioProcessado(val,oldVal){
                    if(JSON.stringify(val) !== JSON.stringify(oldVal))
                        this.printChart();
                }
            },
            computed:{
                binarioProcessado(){
                    return this.processaBinario()
                }
            },
            methods:{
                encoder(data){
                    switch(this.transformacao){
                        case 'Método Unipolar':
                        default:
                            break;
                        case 'Método Polares - NRZ-L':
                            data = data.map((val)=>(val==0)?-1:1);
                            break;
                        case 'Método Polares - NRZ-I':
                            let valueAtual = 1;

                            data = data.map((val)=>{
                                if(val==1){
                                    valueAtual = (valueAtual==1)?-1:1
                                }
                                return valueAtual;
                            });
                            break;
                        case 'Método Bipolar - AMI':
                            break;
                        case 'Método Bipolar - Pseudoternário':
                            break;
                        case 'Bifásico - Manchester':
                            break;
                        case 'Bifásico - Diferenciarl Manchester':
                            break;
                    }
                    return data;
                },
                processaBinario(){
                    const arrayDados = this.binarioTransmitir.replace(/[^01]+/i,'').split('').map(val=>Number(val));
                    
                    return this.encoder(arrayDados);
                },
                printChart(){
                    const dados = this.binarioProcessado;
                    const ctx = document.getElementById('myChart').getContext('2d');
                    if(this.chartCriado){
                        this.chartCriado.destroy();
                    }
                    this.chartCriado = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: this.binarioTransmitir.replace(/[^01]+/i,'').split('').map(val=>Number(val)),
                            datasets: [{
                                label: this.transformacao,
                                data: dados,
                                stepped: 'middle',
                                backgroundColor: "rgba(0,99,132,0.2)",
                                borderColor: "rgba(0,99,132,1)",                          
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    min:-2,
                                    max: 2
                                }
                            }
                        }
                    });
                }
            }
        })
        app.use(Quasar)
        app.mount('#q-app')
    </script>
</body>
</html>